* {
  box-sizing: border-box;
  font-family: Inter;
}

body {
 background-color:#23252C; 
 height: 868px;
}

.business-card {
  background-color:#1A1B21;
  width: 317px;
  width: 50%;
  height: 680px;
  margin: auto;
  border-radius: 10px;
}

.full-nav > img {
  background-color:#1A1B21;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.full-nav {
  font-family: inter;
  align-content: center;
  margin: 0px;
  background-color: 1A1B21;
}

.nav-title {
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: bold;
  font-weight: 700px;
  line-height: 30px;
  letter-spacing: 0em;
  margin-bottom: 0px;
}

.nav-subtitle {
  color:#F3BF99;
  text-align: center;
  margin-top: 7px;
  font-size:12px;
  font-weight: 400px;
}

.nav-sub-subtitle {
  color:#FFFFFF;
  text-align: center;
  margin-top: 7px;
  font-size:10px;
}

.nav-buttons {
  display: flex;
  margin: auto;
  margin-left: 25px;
  margin-right: 25px;
}


.email-button {
  margin: auto;
  margin-right: 15px;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
}

.linkedin-button {
  margin: auto;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #5093E2;
  color: #FFFFFF;
  border: none;
  margin-bottom: 0px;
}

.icon {
  padding-right: 5px;
}

.main-div {
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  font-family: Inter;
  color: #FFFFFF;
  align-items: center;
  margin-bottom: 0px;
}

.main-title {
  font-weight: 700px;
  font-style: bold;
  font-size: 16px;
  line-height: 24px;
  line-height: 50%;
  text-align: left;
  margin-bottom: 0px;
}

.main-p {
  font-weight: 400px;
  font-size: 10px;
  margin-bottom: 20px;
}

.footer-div {
  background-color:#161619;
  height: 64px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-content: center;
}

.align-icons {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  margin: auto;
}

.footer-icon{
  margin: auto;
}