* {
  box-sizing: border-box;
  font-family: Inter;
}

html,body {
  height:100%;
  margin: 0;
}

body {
 background-color:#23252C;
}

.business-card {
  display: flex;
    width: 550px;
    padding: 44px 117px 44px 116px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #23252C;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: inter;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: 1A1B21;
}



.header-img {
  background-color:#1A1B21;
  max-width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
  padding: 0;
}

.header-title {
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: bold;
  font-weight: 700px;
  line-height: 30px;
  letter-spacing: 0em;
  margin-bottom: 0px;
}

.header-subtitle {
  color:#F3BF99;
  text-align: center;
  margin-top: 7px;
  font-size:12px;
  font-weight: 400px;
}

.header-sub-subtitle {
  color:#FFFFFF;
  text-align: center;
  margin-top: 7px;
  font-size:10px;
}

.header-sub-subtitle > a{
  color: white;
}

.header-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 7% 0 7%;
}


.email-button {
  margin-left: auto;
  margin-right:auto;
  border-radius: 6px;
  font-family: Inter;
  font-size: 14px;
  width: 115px;
  height: 34px;  
}

.linkedin-button {
  margin-left: auto;
  margin-right:auto;
  border-radius: 6px;
  font-family: Inter;
  font-size: 14px;
  width: 115px;
  height: 34px;  
  background-color: #5093E2;
  color: #FFFFFF;
  border: none;
  margin-bottom: 0px;
}

.icon {
  padding-right: 5px;
}

.main-div {
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  font-family: Inter;
  color: #FFFFFF;
  align-items: center;
  margin-bottom: 0px;
  background-color:#1A1B21;
}

.main-title {
  font-weight: 700px;
  font-style: bold;
  font-size: 16px;
  line-height: 24px;
  line-height: 50%;
  text-align: left;
  margin-bottom: 0px;
}

.main-p {
  font-weight: 400px;
  font-size: 10px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  background-color:#161619;
  height: 64px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 0 7% 0 7%;
  margin-left: auto;
  margin-right: auto;
}

.footer-icon{
  margin-left: auto;
  margin-right: auto;
  color: antiquewhite;
}